opencv-python
mediapipe==0.10.10
numpy==1.26.4
tensorflow==2.18.0
scikit-learn==1.5.2
protobuf==3.20.3
fastapi==0.115.4
streamlit==1.39.0
pillow==10.4.0
requests==2.32.3
uvicorn==0.32.0
python-multipart==0.0.16
python-dotenv
streamlit-webrtc
